{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				<i class="bi bi-key"></i> Change Password
			</legend>
				{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-orange" type="submit">Change Password</button>
			<a href="{% url 'settings' %}" class="btn btn-secondary">Cancel</a>
		</div>
	</form>
</div>
{% endblock content %}